.barra {
    background: #8158C7;
    box-shadow: 0px 5px 10px rgba(0,0,0,.5);
    position: sticky !important;
    z-index: 3;
    top: 0;
}
.publicar{
	background: #D553CD !important; 
	border-color:#D553CD !important;
}
.publicar:hover{
	background: #BF4CB8  !important; 
	border-color:#BF4CB8  !important;
}