.carousel {
  width:180px;
  height:100px;
  margin: auto;
}

img.perfil {
  height: 50%;
  width: 50%;
}

img.car{
  width:180px;
  height:100px;
}

.round{
  border-radius: 20px !important;
  border-style: solid;
  border-width: thick;
  border-Color : #DDB8EF;
}

.topRound{
  border-radius: 20px 20px 0px 0px !important;
  border-style: solid;
  border-width: thin;
  border-Color : #DDB8EF;
}


.btn-lime{
  background-color: '#bff997';
  color: 'white';
}